<mat-card class="label-card">
  <mat-card-header>
    <mat-card-title class="card-title">etiqueta: <i>{{ label }}</i></mat-card-title>
  </mat-card-header>

  <mat-card-content class="scrollable-content">

    <mat-action-list dense>
      <mat-list-item *ngFor="let item of texts" (click)="delete(item)" matTooltip="{{item}}">
        <p class="text-item" matline>
          {{item}}
        </p>
      </mat-list-item>
    </mat-action-list>

  </mat-card-content>
  <mat-card-actions>
      <button mat-button (click)="addTerm()" matTooltip="añadir texto">
        <mat-icon>add_circle</mat-icon> Añadir texto
      </button>
      <button mat-button (click)="deleteLabel()" matTooltip="eliminar etiqueta">
          <mat-icon>label-off</mat-icon>
      </button>
  </mat-card-actions>

</mat-card>