.label-card {
    max-width: 400px;
    margin-top: 20px;
    float: left;
    margin-left: 20px;
    max-width: 250px;
     
}

.scrollable-content {
    height: 200px; 
    overflow-y: auto;
    
   
}

.text-item {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card-title {
    font-size: medium;
}