<mat-card class="card">
  <mat-card-content>
    <button (click)="addLabel()" mat-button>
      <mat-icon>add_circle</mat-icon> Añadir etiqueta
    </button>
    <button [disabled]="getState() == 'EMPTY' || getState() == 'TRAINED'" (click)="train()" mat-button>
      <mat-icon>perm_data_setting</mat-icon> Entrenar
    </button>

    <button (click)="loadScratch()" mat-button>
      <img src="assets/images/scratch_icon.svg"> Abrir Scratch
    </button>

  </mat-card-content>
</mat-card>

<mat-card class="card">
  
    <mat-expansion-panel expanded (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Datos para el entrenamiento del modelo
        </mat-panel-title>
        <mat-panel-description>
          Estado del modelo: {{getState()}}
          <span style="margin-left:10px" *ngIf="getState() == 'TRAINED'">
            [
            <b>error</b>: {{textClassifierService.trainResult.error | number:'1.4-6'}}
            <b>iterations</b>: {{textClassifierService.trainResult.iterations}}]
          </span>
        </mat-panel-description>

      </mat-expansion-panel-header>

      <app-ml-label-container *ngFor="let label of inputLabeledTextManager.labels" (onChildDeleted)="onDeleted($event)"
        [label]="label" [texts]="inputLabeledTextManager.labelsWithTexts.get(label)"></app-ml-label-container>

    </mat-expansion-panel>
  
</mat-card>


<div class="cards">

  <app-ml-configuration></app-ml-configuration>


  <app-ml-test-model></app-ml-test-model>

</div>