<input hidden="true" type="file" #fileElement (change)="onLoaded($event)">

<button mat-button [matMenuTriggerFor]="menu"> 
    Archivo<mat-icon>expand_more</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="new()">Nuevo</button>
  <button mat-menu-item (click)="logout()" [disabled]="!authService.isAuthenticated">Guardar</button>
  <button mat-menu-item (click)="load()">Cargar datos desde tu ordenador</button>
  <button mat-menu-item [disabled]="getState() == 'EMPTY'" (click)="save()">Guardar datos en tu ordenador</button>
</mat-menu>