<mat-card class="configuration-card">
    <mat-card-header>
       Brain
      </mat-card-header>
      
      <mat-card-content>
       
          <input  [(ngModel)]="entry" placeholder="Input">
        
      </mat-card-content>
      <mat-card-actions>
        <button (click)="dale()" mat-raised-button>DALE!</button>
        <button (click)="run()" mat-raised-button>RUN</button>
      </mat-card-actions>
  
</mat-card>

<app-ml-configuration></app-ml-configuration>
<app-ml-testmodel></app-ml-testmodel>
