<mat-expansion-panel expanded (opened)="panelOpenState = true" (closed)="panelOpenState = false">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Datos para el entrenamiento del modelo
    </mat-panel-title>
    <mat-panel-description>
      {{panelOpenState ? '' : 'abrir para ver/añadir datos'}}
    </mat-panel-description>
  </mat-expansion-panel-header>
  <button (click)="addLabel()" mat-button>
    <mat-icon>add_circle</mat-icon> Añadir etiqueta</button>
  <mat-divider></mat-divider>
  <app-ml-label-container *ngFor="let label of labels" (onChildDeleted)="onDeleted($event)" [label]="label"></app-ml-label-container>
</mat-expansion-panel>



<div class="cards">

  <app-ml-configuration></app-ml-configuration>


  <app-ml-test-model></app-ml-test-model>

</div>