<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <app-ml-model-toolbar></app-ml-model-toolbar>
</div>
<div class="container">
  <router-outlet></router-outlet>
  <mat-divider></mat-divider>
  
  <div class="footer">
      <p>
        <i>LearningML</i> Copyright © 2019 <a target="_blank" href="http://juandarodriguez.es">Juan David Rodríguez García</a> &  <a target="_blank" href="https://kgblll.github.io/">KGBL3</a>
      </p>
      <p>
      This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License
      as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
      This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
      warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
      You should have received a copy of the GNU General Public License along with this program. If not, see
      <https://www.gnu.org/licenses/>
      </p>
      <p>
        Sources: https://github.com/juandarodriguez/easy-ml
      </p>
    </div>
</div>