<mat-spinner *ngIf="model.state == 'TRAINING'" class="loading-indicator" [diameter]="200"></mat-spinner>

<mat-card class="configuration-card">
  <mat-card-header>
    <mat-card-title>Configuración</mat-card-title>
    <mat-card-subtitle>Ajusta los parámetros de aprendizaje</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>

    <form class="form">
      <mat-form-field class="half-width">
        <input type="number" name="iterations" [(ngModel)]="config.iterations" matInput placeholder="Iteraciones">
      </mat-form-field>
      <mat-form-field class="half-width">
        <input type="number" name="errorThresh" [(ngModel)]="config.errorThresh" matInput placeholder="Error máximo">
      </mat-form-field>
      <mat-form-field class="half-width">
        <input type="number" name="learningRate" [(ngModel)]="config.learningRate" matInput placeholder="Ritmo aprendizaje">
      </mat-form-field>
      <mat-form-field class="half-width">
        <input type="number" name="momentum" [(ngModel)]="config.momentum" matInput placeholder="Momentum">
      </mat-form-field>
      
    </form>

  </mat-card-content>

  <mat-card-actions>
    <button [disabled]="model.state == 'EMPTY'" (click)="update()" mat-raised-button>Actualizar</button>
    <button (click)="reset()" mat-raised-button>Restaurar</button>
  </mat-card-actions>

</mat-card>
