.configuration-card {
    max-width: 600px;
    margin-top: 20px;
    float: left;
    height: 250px;
  }

.half-width {
    width: 45%;
    margin: 5px;
}

.loading-indicator {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}